body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    text-align: center;
    background-color: rgb(79, 47, 79);
    color: rgb(255, 240, 250);
    padding-top: 5px;
    padding-bottom: 0.1%;
    margin-bottom: 8px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.2em;
}
.hide-nav nav {
    display: none;
}

nav {
    display: block;
    float: left;
    background-color: rgb(161, 143, 164);
    outline-color: rgb(79, 47, 79);
    outline-style: solid;
    outline-width: 0.2em;
    width: 20%;
    margin-bottom: 5px;
    position: sticky;
    top: 0%
}
nav ul li a {
    color: rgb(79, 47, 79);
    text-decoration: none;
}
nav ul li a:hover {
    color: lavenderblush;
}

main {
    clear: left;
    margin-left: 5%;
    margin-right: 2%;
}
.hide-vertnav #nav {
    display: none
}
.nav {
    position: sticky;
    top: 0%;
    padding-top: 0.5%;
    text-align: center;
    background-color: white;
}
.nav ul li {
    display: inline;
}
.nav ul li a {
    color: rgb(79, 47, 79);
    text-decoration: none;
}
.nav ul li a:hover {
    color: rgb(161, 143, 164);
}
main button {
    position: sticky;
    top: 0%;
    padding-top: 0.5%;
    background-color: rgb(79, 47, 79);
    color: white;
}
main img{
    float: left;
}
main h1 {
    color:rgb(79, 47, 79)
}

footer {
    clear: both;
    font-size: x-small;
    color: gray;
    bottom: 0px;
    margin-left: 5px;
}
footer a {
    text-decoration: none;
    color: gray;
}
footer a:hover {
    color: #000;
}

@media screen and (max-width: 1000px) {
    nav {
      width: 200px;
      margin-right: 5px;
    }
    .nav {
        display: none;
    }
    main ul li {
        margin-left: 55px;
    }
}

@media screen and (max-width: 500px) {
    head {
        display: none;
    }
    nav {
        display: block;
        top: 0%;
        padding-top: 0.5%;
        padding-left: 0.5%;
        text-align: center;
    }
    main {
        clear: both;
        width: 100%;
        margin: 1%;
        padding: 1%;
        text-align: center;
    }
    main ol, main ul {
        text-align: left;
        left: 0;
    }
}
